mysql_test/node_modules/*
node_modules/*
redis-test/node_modules/*
blog-1/node_modules/*
blog-express/node_modules/*
express-test/node_modules/*
blog-express/views/error.jade
blog-express/views/index.jade
blog-express/views/layout.jade
